<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Park page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<table>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="park : ${parkList}">
        <th th:text="${park.id}"></th>
        <th th:text="${park.name}"></th>
        <th>
            <form th:action="@{/floor/{parkId}(parkId=${park.id})}">
                <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i>Show floors</button>
            </form>
        </th>
    </tr>
    </tbody>
    <a th:href="@{/park/create}"><button>Add</button></a>
</table>
</body>
</html>