<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Place create page</title>
</head>
<body>
<form th:action="@{/place/create}" th:method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Enter place name</label>
        <input type="hidden" id="floorId" th:name="floorId" th:value="${floorId}">
        <input type="text" class="form-control" id="name" th:name="name" required>
    </div>
    <button type="submit">Save</button>
</form>
</body>
</html>